* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: normal;
    align-content: normal;
    grid-gap: 7px;
  }

.info{
    width: 40%;
    /* height: 100px; */
    background-color: rgb(198, 237, 255);
    /* margin-bottom: 10px; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-size: 50px;
}

.title{
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 241, 190);
    /* margin: 5%; */
    width: 100%;
    height: 95px;
    /* margin-bottom: 10px; */
    border-radius: 5px;
    display: flex;
    padding: 3px;
    font-size: 15px;

}

.para{
    align-items: center;
    justify-content: center;
    /* margin: 5%; */
    width: 100%;
    height: 95px;
    /* margin-bottom: 10px; */
    border-radius: 5px;
    display: flex;
    margin-bottom: 10%;
    padding: 10px;
    font-size: 15px;
}

.calculatrice{
    background-color: yellow;
    display: flex;
    flex-direction: column;
}

/* .ecran{
    width: 100%;
    height: 100px;
    background-color: rgb(198, 237, 255);
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    font-size: 25px;
} */
.main-div{
    width:290px;
    margin:0 auto;
    background:rgb(198, 237, 255);
    height:100px;
    box-shadow:2px 2px 2px gray;
    padding:15px;
    border-bottom:5px solid #8fccdb;
    border-radius:4px;	
    position:relative;	 
}

.screen{
	list-style:none;
	color:white;
	height:45px;
	width:58px;
  margin-left:8px;
	border-radius:4px;
	border-top:4px solid #828A9B;
	text-align:center;
	font-weight:bold;
	font-family: 'Ubuntu', sans-serif;
	margin-bottom:8px;
  width:182px;
	background:#828A9B;
   border-top:4px solid #8fccdb;
  overflow:hidden;
}


.clear{
    width:60px;
	background:#7B8D8E;
	padding:10px 17px;
	position:absolute;
	border-radius:3px;
	left:215px;
	top:18px;
	color:white;
	cursor:pointer;
	text-align:center;
}

.touches{
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5, 50px);
    grid-gap: 7px;
    
    list-style:none;
    /* float:left; */
    /* width:100%; */
   background:white;
   margin:9px 5px;
   padding:10px;
   border-bottom:4px solid #828A9B;
   border-radius:5px;
   color:#888888;
   text-align:center;
   transition:.2s;
   cursor:pointer;
}



.touches button:hover{
	background: #8fccdb;
	/* border-bottom: 4px solid #336699; */
	color: white;
}

#equal{
	background:#413d3d;
	color:white;
}

/* button{
    border-radius: 100px;
} */

.img{
    width: 95%;
}